<head>
		<title>CSS Animations Test</title>
		<link rel="stylesheet" type="text/css" href="/sandbox/stylesheets/global.css"/>
		<link rel="stylesheet" type="text/css" href="/sandbox/stylesheets/animations.css"/>
		<!--
			<link rel="import" href="https://www.polymer-project.org/0.5/components/paper-ripple/paper-ripple.html">
		-->
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/sandbox/scripts/animations.js"></script>
		<script src="titles.js"></script>